<div class="container">
  <div class="row">
    <div class="col-12 text-center">
        <h1>
          LOREM IPSUM
        </h1>
    </div>

    <!-- MENU -->
    <div class="col-12 col-lg-6">
      <div class="icons  {{classMenu}}">
        <div class="icon-search">
          <div class="icon">
            <a (click)="classMenu='step-search'; postID(1)">
              <img src="../assets/images/front-end_icono_buscar.png" alt="Buscar BTN">
            </a>
          </div>
          <div class="line">
            <img src="../assets/images/front-end_enganche.png" alt="Enganche">
          </div> 
        </div>

        <div class="icon-cel">
          <div class="icon">
            <a (click)="classMenu='step-cel'; postID(2)">
              <img src="../assets/images/front-end_icono_celus.png" alt="Celus BTN">
            </a>
          </div>
        </div>

        <div class="icon-home">
          <div class="icon">
            <a (click)="classMenu='step-home'; postID(3)">
              <img src="../assets/images/front-end_icono_home.png" alt="Home BTN">
            </a>
          </div>
          <div class="line">
            <img src="../assets/images/front-end_enganche.png" alt="Enganche">
          </div>
          <div class="sub-menu">
            <div class="sub-icon">
              <a href="#">
                <img src="../assets/images/front-end_subicono_home1.png" alt="Home 1">
              </a>
            </div>
            <div class="sub-icon">
              <a href="#">
                <img src="../assets/images/front-end_subicono_home2.png" alt="Home 2">
              </a>
            </div>
            <div class="sub-icon">
              <a href="#">
                <img src="../assets/images/front-end_subicono_home3.png" alt="Home 3">
              </a>
            </div>
            <div class="sub-icon">
              <a href="#">
                <img src="../assets/images/front-end_subicono_home4.png" alt="Home 4">
              </a>
            </div>
          </div>       
        </div>
      </div>
    </div>

    <!-- LOADER -->
    <div class="col-12 col-lg-6" *ngIf="loading">
      <div class="loading">
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
      </div>
    </div>

    <!-- POST CONTENT -->
    <div class="col-12 col-lg-6" *ngIf="!loading && post">
      <div class="box">
        <div class="box-img" *ngIf="postImg">
          <img src="../assets/images/{{postImg}}" alt="">
        </div>
        <h2 class="box-title">{{post.title}}</h2>
        <p class="box-content">{{post.body}}</p>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
