// VARIABLES
$font : 'Open Sans',
sans-serif;
$main-color: #009BDB;
$transition_menu : all .5s ease-in-out;

::ng-deep {

  body,
  html {
    font-family: $font;
    background-color: $main-color;
  }

  img {
    max-width: 100%;
  }
}

h1 {
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #fff;
  display: inline-block;
  padding: 10px 0;
  font-weight: 600;
  margin: 25px auto;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 260px;
  margin: 40px auto;
  padding-right: 50px;

  .icon-search {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
    pointer-events: none;
    transition: $transition_menu;

    .icon {
      position: absolute;
      top: 33px;
      left: 33px;
      width: 70px;
      z-index: 5;
      pointer-events: initial;
      transition: $transition_menu;
    }

    .line {
      position: absolute;
      left: 75px;
      top: 65px;
      width: 90px;
      z-index: 1;
      transform: rotate(270deg);
    }
  }

  .icon-cel {
    position: relative;
    z-index: 100;
    margin: 80px 0;
    pointer-events: none;

    .icon {
      width: 90px;
      pointer-events: initial;
    }
  }

  .icon-home {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
    pointer-events: none;
    transition: $transition_menu;

    .icon {
      position: absolute;
      top: 0;
      right: 0;
      width: 110px;
      z-index: 5;
      pointer-events: initial;
      transition: $transition_menu;
    }

    .line {
      position: absolute;
      right: 66px;
      top: 66px;
      width: 100px;
      z-index: 1;
      transform: rotate(180deg);
    }

    .sub-menu {

      /* display: none; */
      a {
        display: contents;
      }

      .sub-icon {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 0;
          height: 0;
          transition: all .4s ease-in;
        }

        &:nth-child(1) {
          position: absolute;
          top: 20px;
          right: 112px;
          transform: rotate(-55deg);
        }

        &:nth-child(2) {
          position: absolute;
          top: -12px;
          right: 96px;
          transform: rotate(-40deg);
        }

        &:nth-child(3) {
          position: absolute;
          top: -34px;
          right: 68px;
          transform: rotate(-25deg);
        }

        &:nth-child(4) {
          position: absolute;
          top: -41px;
          right: 34px;
          transform: rotate(-4deg);
        }
      }
    }
  }

  &.step-search {
    .icon-search {
      transform: rotate(50deg);

      .icon {
        transform: rotate(-50deg);
      }
    }

    .icon-home {
      transform: rotate(90deg);

      .icon {
        transform: rotate(-90deg);
      }
    }
  }

  &.step-home {
    .icon-search {
      transform: rotate(-90deg);

      .icon {
        transform: rotate(90deg);
      }
    }

    .icon-home {
      transform: rotate(25deg);

      .icon {
        transform: rotate(-25deg);
      }

      .sub-menu {
        display: block;

        .sub-icon {
          img {
            width: 100%;
            height: auto;
            transition-delay: .6s;
          }
        }
      }
    }
  }
  @media(min-width: 768px){
      width: 360px;
      .icon-home{
          .icon{
            width: 140px;
          }
          .line{
            right: 93px;
            top: 86px;
            width: 130px;
          }
          .sub-menu{
              .sub-icon{
                  width: 35px;
                  height: 35px;
                  &:nth-child(1){
                    top: 22px;
                    right: 142px;
                  }
                  &:nth-child(2){
                    top: -15px;
                    right: 119px;
                  }
                  &:nth-child(3){
                    top: -39px;
                    right: 83px;
                  }
                  &:nth-child(4){
                    top: -50px;
                    right: 39px;
                  }
              }
          }
      }
      .icon-cel{
          margin: 110px 0;
          .icon{
              width: 110px;
          }
      }
      .icon-search{
          .icon{
              width: 90px;
              top: 45px;
              left: 45px;
          }
          .line{
              left: 105px;
              top: 90px;
              width: 100px;
          }
      }
  }
}

.box {
  background-color: rgba(#fff, .7);
  padding: 20px;
  margin-bottom: 40px;
  .box-img{
      text-align: center;
      svg{
        width: 300px;
        max-width: 100%;
      }
  }

  .box-title {
    color: $main-color;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 700;
  }
  @media(min-width: 992px){
      margin-top: 40px;
      padding: 30px;
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;

  .loading-bar {
    display: inline-block;
    width: 4px;
    height: 18px;
    border-radius: 4px;
    animation: loading 1s ease-in-out infinite;

    &:nth-child(1) {
      background-color: #fff;
      animation-delay: 0;
    }

    &:nth-child(2) {
      background-color: #666;
      animation-delay: 0.09s;
    }

    &:nth-child(3) {
      background-color: #444;
      animation-delay: .18s;
    }

    &:nth-child(4) {
      background-color: #222;
      animation-delay: .27s;
    }
  }
}

@keyframes loading {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1, 2.2);
  }

  40% {
    transform: scale(1);
  }
}
